.options_left {
  position: relative;
  width: 20%;
  height: 90.55vh;
  float: left;
  background: #252422;
  padding: 2.5%;
  border-right: 5px solid #EB5E28;
  margin: -0.4%;
}

.main_page {
  width: 40%;
  margin-left: 35%;
  margin-right: auto;
  display: flex;
  justify-content: center;




}

.text_box {
  width: 700px;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: solid black;
  height: 120px;
  border: 1px solid #414141;
  background-color: #FFFCF2;
  font: small-caps bold 24px/1 sans-serif;
}

.forms {
  flex-direction: column;
}

.main_page h3 {
  font: small-caps bold 24px/1 sans-serif;
  display: flex;
  justify-content: center;
}

.options_left span {
  font: small-caps bold 18px/1 sans-serif;
  color: #FFFCF2;
  padding-left: 28%;
  margin-bottom: 0%;
}

.options_left h3 {
  font: small-caps bold 24px/1 sans-serif;
  color: #FFFCF2;
  padding-left: 26%;
  margin-top: 2%;
}

body {
  background: #CCC5B9;
  position: static;
}

.input {
  padding-left: 10%;
  display: flex;
  flex-direction: column;
  width: 70%;
  background-color: #252222;
  justify-content: center;
  border-radius: 5px;
}

.value {
  background-color: transparent;
  border: none;
  padding: 10px;
  color: #FFFCF2;
  display: flex;
  position: relative;
  gap: 5px;
  cursor: pointer;
  border-radius: 4px;
  font: small-caps bold 18px/1 sans-serif;
  text-decoration: none;
}

.value_list {
  margin-left: 15px;
  background-color: transparent;
  border: none;
  padding: 10px;
  color: #FFFCF2;
  display: flex;
  position: relative;
  gap: 5px;
  cursor: pointer;
  border-radius: 4px;
  font: small-caps bold 18px/1 sans-serif;
  text-decoration: none;
}

.value_list_active {
  margin-left: 15px;
  background-color: #2c3238;
  border: none;
  border-left: 4px solid #EB5E28;
  padding: 10px;
  color: #FFFCF2;
  display: flex;
  position: relative;
  gap: 5px;
  cursor: pointer;
  border-radius: 5px;
  font: small-caps bold 18px/1 sans-serif;
  text-decoration: none;
}

.value:hover {
  background-color: #21262c;
}

.input button.active {
  border-radius: 5px;
  border-left: 4px solid #EB5E28;
}

.tabcontent{
    display: none;
}

.logincontainer {
  position: absolute;
  bottom: 5%;
  left: 25%;
  font: small-caps bold 22px/1 sans-serif;
  color: #EB5E28;

}

.buttonlogin {
  font: small-caps bold 18x/1 sans-serif;
  color: #FFFCF2;
  text-decoration: none;
}

.form_input input {

  background: none;
  outline: none;
  background-color: inherit;
  border-radius: 25px;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  width: 300px;
  height: 15px;
  font: small-caps bold 22px/1 sans-serif;
  color: solid black;
  padding: 3%;
  margin-top: -10px;
}

.form_input textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: solid black;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
  font: small-caps bold 16px/1 sans-serif;
}

.form_input p {
  display:flex;
  flex-direction:row;
}

.form_input label {
    font: small-caps bold 16px/1 sans-serif;
    color: solid black;
    width: 160px;
}

.form .btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2.5em;
  margin-left: 2em;
}

.button2 {
  padding: 0.5em;
  padding-left: 2.3em;
  padding-right: 2.3em;
  border-radius: 5px;
  margin-left: 30%;;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #252525;
  color: white;
  text-decoration: none;
  font: small-caps bold 16px/1 sans-serif;
}

.form_input input[type=file] {
  vertical-align: middle;
  text-align: center;
  font: small-caps bold 14px/1 sans-serif;
  cursor: pointer;
  filter: alpha(opacity=0);
}


.form {
  width: 500px;
  top: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.4em;
  background-color: #252422;
  border-radius: 25px;
  border: 5px solid #EB5E28;
  transition: .4s ease-in-out;
  position: absolute;
  font: small-caps bold 16px/1 sans-serif;
}

.form .buttonlogin {
  font: small-caps bold 18x/1 sans-serif;
  color: #EB5E28;
  text-decoration: none;
}

.form h1 {
    font: small-caps bold 16px/1 sans-serif;
    color: white;
}

.form p {
    font: small-caps bold 16px/1 sans-serif;
    color: white;
}



